<div class="kindergarten_image">
  <div class="kindergarten_mask">
    <div class="content-title">
      <h1>幼 稚 園 編 集</h1>
    </div>
    <%= render 'form'%>
    <%= link_to '幼 稚 園 一 覧', kindergartens_path, class: "link" %><br><br>
  </div>
</div>
