<div class="kindergarten_image">
  <div class="kindergarten_mask">
    <div class="content-title">
      <h1>幼  稚  園  新  規  登  録</h1><br>
      <h5>全 て の 記 入 欄 に 入 力 し て く だ さ い 。</h5>
    </div>
    <%= render 'form'%>
    <%= link_to '幼稚園一覧', kindergartens_path %>
  </div>
</div>
