<h2>メッセージ一覧</h2>
<!-- if文で管理者にメッセージがあればアラートを通知する -->
<% if @message.present? %>
  <div class="alert alert-warning">
    <span><h4 class="blinking">【管理者へのアラーム】</h4></span>
    <h5>アーカイブの使用報告メッセージが届いているので、確認してください！</h5>
  </div>
<% end %>

<table>
  <thead>
    <tr>
    <% if current_user.try(:admin?) %>
        <th>ユーザー</th>
    <% else %>
        <th>管理者</th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @conversations.each do |conversations| %>
    <tr>
      <td>
        <% if conversations.target_user(current_user).present? %>
          <%= link_to conversations.target_user(current_user).name, conversation_messages_path(conversations) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '幼稚園一覧', kindergartens_path, class: "btn btn-danger"  %>
