<table class="table table_hover">
  <thead>
    <h2>メッセージ一覧</h2>
  </thead>
  <tbody>
    <% @conversations.each do |conversations| %>
      <td>
        <% if conversations.target_user(current_user).present? %>
          <%= link_to conversations.target_user(current_user).name, conversation_messages_path(conversations)  %>
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>
<%= link_to '幼稚園一覧', kindergartens_path  %>
