<div class="conversation_image">
  <div class="conversation_mask">
    <div class="content-title">
      <h1>ア ー カ イ ブ 使 用・返 却</h1>
    </div>
    <table class="table table-hover" id="conversation-index">
      <thead>
        <tr class="table-success">
        <% if current_user.try(:admin?) %>
          <th><h3>送 信 先</h3></th>
        <% else %>
          <th><h3>送 信 先(管 理 者)</h3></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
        <tr>
          <td>
            <% if conversation.target_user(current_user).present? %>
              <h4><%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation) %></h4>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @conversations, class: "page" %><br>
    <%= link_to 'ユ ー ザ ー リ ス ト', users_path, class: "link" %><br><br>
    <%= link_to '幼 稚 園 一 覧', kindergartens_path, class: "link" %><br><br>
  </div>
</div>
