<h2>メッセージ一覧</h2>
<table class="table table_hover">
  <thead>
    <% if current_user.try(:admin?) %>
      <tr>
        <th>ユーザー</th>
      </tr>
    <% else %>
      <tr>
        <th>管理者</th>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% @conversations.each do |conversations| %>
    <tr>
      <td>
        <% if conversations.target_user(current_user).present? %>
          <%= link_to conversations.target_user(current_user).name, conversation_messages_path(conversations)  %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '幼稚園一覧', kindergartens_path  %>
