<div class="application_image">
  <div class="application_mask">
    <div class="content-title">
      <h1>申 請 編 集</h1>
    </div>
    <%= render 'form' %>
    <%= link_to '申請状況一覧へ', application_documents_path %>
  </div>
</div>  
