<div class="application_image">
  <div class="application_mask">
    <div class="content-title">
      <h1>申 請 認 可 書 類 登 録</h1>
      <h5>幼稚園より認可申請書類を受領後、全ての記入欄に入力のうえ、登録してください 。</h5>
    </div>
    <%= render 'form' %>
    <%= link_to '申 請 状 況 一 覧', application_documents_path, class: "link" %><br><br>
  </div>
</div>
