<div class="row">
  <div class=col-3 id="top-image1">
    <div class="top-mask">
      <h1 class="effect-fade">A</h1>
    </div>
  </div>
  <div class=col-3 id="top-image2">
    <div class="top-mask">
      <h1 class="effect-fade red">S</h1>
      <h1 class="title-adjust effect-fade">B</h1><br><br>
      <h2 class="app-index fadein">許 認 可 業 務</h2><br>
      <h5 class="fadein">◇幼稚園認可情報を一括管理</h5><br>
      <h5 class="fadein">◇不要書類のペーパーレス化</h5>
      <div class="top-link">
        <%= link_to "ア カ ウ ン ト 登 録", new_user_registration_path, class:"btn btn-danger rounded-pill effect-submit" %>
      </div>
    </div>
  </div>
  <div class=col-3 id="top-image3">
    <div class="top-mask">
      <h1 class="effect-fade">A</h1>
      <h1 class="title-adjust effect-fade">O</h1><br><br>
      <h2 class="app-index fadein">効 率 化 ア プ リ</h2><br>
      <h5 class="fadein">◇欲しい情報へ速攻アクセス</h5><br>
      <h5 class="fadein">◇担当業務タスクの進捗管理</h5>
      <div class="top-link">
        <%= link_to "ロ グ イ ン", new_user_session_path, class:"btn btn-info rounded-pill effect-submit" %>
    </div>
    </div>
  </div>
  <div class=col-3 id="top-image4">
    <div class="top-mask">
      <h1 class="effect-fade">P</h1>
      <h1 class="title-adjust effect-fade">X</h1>
    </div>
  </div>
</div>
