<div class="row">
  <div class=col-3 id="top-image1">
    <div class="top-mask">
      <h1>A</h1>
    </div>
  </div>
  <div class=col-3 id="top-image2">
    <div class="top-mask">
      <h1>S</h1>
      <h1 class="title-adjust">B</h1>
      <div class="top-link">
        <%= link_to "ア カ ウ ン ト 登 録", new_user_registration_path, class:"btn btn-danger rounded-pill" %>
      </div>
    </div>
  </div>
  <div class=col-3 id="top-image3">
    <div class="top-mask">
      <h1>A</h1>
      <h1 class="title-adjust">O</h1>
      <div class="top-link">
        <%= link_to "ロ グ イ ン", new_user_session_path, class:"btn btn-info rounded-pill" %>
    </div>
    </div>
  </div>
  <div class=col-3 id="top-image4">
    <div class="top-mask">
      <h1>P</h1>
      <h1 class="title-adjust">X</h1>
    </div>
  </div>
</div>
