<div class="archive_image">
  <div class="archive_mask">
    <div class="content-title">
      <h1>ア ー カ イ ブ 編 集</h1>
    </div>
    <%= render 'form' %>
    <%= link_to 'ア ー カ イ ブ 一 覧', archives_path, class: "link" %><br><br>
  </div>
</div>
