<div class="archive_image">
  <div class="archive_mask">
    <div class="content-title">
      <h1>ア ー カ イ ブ 登 録</h1>
    </div>
    <%= render 'form' %>
    <%= link_to 'アーカイブ一覧', archives_path %>
  </div>
</div>
