// index画面
.archive-title {
  text-align: center;
  font-size:3em;
  line-height:0.95em;
  font-weight:bold;
  color: #DEB887;
  text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.9);
  margin-bottom: 30px;
  padding-top: 120px;
}

.archive-search {
  text-align: center;
}

// new・edit画面
.archive_image {
  background-image: url('book_image.jpg');
  background-size: cover;
  background-position: center;
}

.archive_mask {
  background-color: rgba(255,255,255,0.6);
}

.kindergarten-archive {
  text-align: center;
  margin: 0 auto;
  width: 95%;
}

.kindergarten-archive dd {
  padding-bottom: 30px;
}

.kindergarten-archive input[type="text"] {
  border-radius: 5px;
  margin-left: 62px;
}

.kindergarten-archive input[type="date"] {
  border-radius: 5px;
}

select {
  border-radius: 5px;
  height: 30px;
  width: 170px;
}
