// トップ画面

.container {
  height: 750px;
}

#top-image1 {
  background-image: image-url('cube.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 750px;
}

#top-image2 {
  background-image: image-url('cube.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 750px;
}

#top-image2 h2 {
  font-weight: bold;
  font-size: 35px;
  color: #66FFFF;
  text-align: right;
  margin-right: 5px;
  text-shadow: 0 1px 0 #bbb,
               0 2px 0 #b0b0b0,
               0 3px 0 #aaa,
               0 4px 0 #a0a0a0,
               0 5px 0 #888,
               0 6px 1px rgba(0, 0, 0, .1),
               0 0 5px rgba(0, 0, 0, .1),
               0 1px 3px rgba(0, 0, 0, .3),
               0 3px 5px rgba(0, 0, 0, .2),
               0 5px 10px rgba(0, 0, 0, .25),
               0 10px 10px rgba(0, 0, 0, .2),
               0 20px 20px rgba(0, 0, 0, .15);
}

#top-image2 h5 {
  font-weight: bold;
  color: red;
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

#top-image3 {
  background-image: image-url('cube.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 750px;
}

#top-image3 h5 {
  font-weight: bold;
  color: red;
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

#top-image3 h2 {
  font-weight: bold;
  font-size: 35px;
  color: #66FFFF;
  text-align: left;
  margin-left: 5px;
  text-shadow: 0 1px 0 #bbb,
               0 2px 0 #b0b0b0,
               0 3px 0 #aaa,
               0 4px 0 #a0a0a0,
               0 5px 0 #888,
               0 6px 1px rgba(0, 0, 0, .1),
               0 0 5px rgba(0, 0, 0, .1),
               0 1px 3px rgba(0, 0, 0, .3),
               0 3px 5px rgba(0, 0, 0, .2),
               0 5px 10px rgba(0, 0, 0, .25),
               0 10px 10px rgba(0, 0, 0, .2),
               0 20px 20px rgba(0, 0, 0, .15);
}

#top-image4 {
  background-image: image-url('cube.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 750px;
}

.top-mask {
  background-color: rgba(255,255,255,0.7);
  height: 750px;
}

.col-3 {
  padding: 0;
}

.col-3 h1 {
  padding-top: 5px;
  font-size: 10rem;
  color: #fff;
  color: #F8F8FF;
  font-weight: bold;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.title-adjust {
  text-align: left;
}

.title-adjust h1 {
  color: red;
}

.top-link {
  margin-top: 40px;
  text-align: center;
}

.top-link .btn {
  padding: 10px 20px;
  font-weight: bold;
}

// アニメーション
.effect-fade {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 6000ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.effect-submit {
  opacity: 0;
  transform: translate(500px, 0);
  transition: all 8000ms;
}

.effect-submit.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.effect-fade.red.effect-scroll {
  color: #A52A2A;
  transition: color 12000ms;
}
